* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family: Arial, Helvetica, sans-serif;
}
ul { list-style: none;}
a {text-decoration: none;}
header {
    background-color: #b4292c;
    text-align: center;
}

.container {
    max-width: 1200px;
    margin: auto;
}
/*---nav---*/
nav {
    background-color:#ec6466;
}
    nav ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    nav ul li, a {color: rgb(40, 13, 3);
                    font-size: 15px;}
    nav ul li:nth-child(2) i{color:#000000; font-size: 15px; margin-left: 5px;}
    nav ul li:nth-child(2) a{color:#000000;}
    nav ul li:nth-child(3) {position: relative;}
    nav ul li:nth-child(3) input{
        color:#b4292c;
        border-radius: 14px;
        border: none;
        padding-left: 5px;
        outline: none;
        }
    nav ul li:nth-child(3) i{
        position: absolute;
        right: 10px;
        font-size: 13px;
        line-height: 23px;
        }

    nav ul li:nth-child(4) button{
        padding: 10px;
        cursor: pointer;
        background: transparent;
        background-color: #b4292c;
        color: aliceblue;
        border: 2px solid rbg(70, 68, 68);
        border-radius: 5px;
       
        transition: all 0.3s ease;
    }
    nav ul :nth-child(4) button i{ margin-right: 5px;}
    nav ul li:nth-child(4) button:hover{
       background-color: rgba(241, 167, 167, 0.922);
    }

    nav ul li:nth-child(5) button{
        padding: 10px;
        cursor: pointer;
        background: transparent;
        background-color: #b4292c;
        color: aliceblue;
        border: 2px solid rbg(70, 68, 68);
        border-radius: 5px;
       
        transition: all 0.3s ease;
    }
    nav ul :nth-child(5) button i{ margin-right: 5px;}
    nav ul li:nth-child(5) button:hover{
       background-color: rgba(241, 167, 167, 0.922);
    }

    nav ul li:nth-child(6) a:hover{
        color: #b4292c;
     }
     nav ul li:nth-child(7) a:hover{
        color: #b4292c;
     }
     nav ul li:nth-child(8) a:hover{
        color: #b4292c;
     }

     .menu-bar {
background-color: #ec6466;
padding: 20px;
}
.menu-bar ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu-bar > .container {
    max-width: 1200px;
    margin: auto;
}
.menu-bar ul > li, a {color: rgb(40, 13, 3);
    font-size: 15px;}
    .menu-bar ul li:nth-child(1) a{margin-block: 5px;}
    .menu-bar ul li:nth-child(2) a{margin-block: 5px;}
    .menu-bar ul li:nth-child(3) a{margin-block: 5px;}
    .menu-bar ul li:nth-child(4) a{margin-block: 5px;}
    .menu-bar ul li:nth-child(5) a{margin-block: 5px;}
    .menu-bar ul li:nth-child(6) a{margin-block: 5px;}
    .menu-bar ul li:nth-child(7) a{margin-block: 5px;}
    .menu-bar ul li:nth-child(8) a{margin-block: 5px;}
    .menu-bar ul li:nth-child(9) a{margin-block: 5px;}

     .menu-bar ul li:nth-child(1) a:hover{color: #b4292c;}
     .menu-bar ul li:nth-child(2) a:hover{color: #b4292c;}
     .menu-bar ul li:nth-child(3) a:hover{color: #b4292c;}
     .menu-bar ul li:nth-child(4) a:hover{color: #b4292c;}
     .menu-bar ul li:nth-child(5) a:hover{color: #b4292c;}
     .menu-bar ul li:nth-child(6) a:hover{color: #b4292c;}
     .menu-bar ul li:nth-child(7) a:hover{color: #b4292c;}
     .menu-bar ul li:nth-child(8) a:hover{color: #b4292c;}
     .menu-bar ul li:nth-child(9) a:hover{color: #b4292c;}
   
/*---submenu---*/
.menu-bar ul > li{position: relative;}
.menu-bar ul > li > .Submenu {
    display: none;
    position: absolute;
    background-color: whitesmoke;
    border-radius: 5%;
    left: 0;

               }
 .menu-bar ul > li > .Submenu a{display: inline-block;}   
 .menu-bar ul li:hover .Submenu {display: block;}

/*--- product---*/
.product-gallery {background-color:white}
.product-gallergy-content-product
{
    display: flex;
    justify-content:space-between;   
    flex-wrap: wrap;
  
}
.product-item {width: 15%;
     padding: 40px 10px 10px;
    border: 1px solid rgba(239, 235, 235, 0.867);
    cursor: pointer;
    }
.item-text {padding-top: 50px;}
.item-text li {margin-bottom: 6px; list-style: none;}
.item-text li:nth-child(1) {font-size: larger;}
.item-text li:nth-child(2) {
        padding: 2px 2px 2px;
        cursor: pointer;
        color: rgb(0, 0, 0);
        border: 2px solid rbg(70, 68, 68);
        border-radius: 5px;
}
.product-item:hover .item-text li:nth-child(1){color: #b4292c; }
.product-item:hover > img {transform: translateY(-20px);}
.item-text li:nth-child(3) a {
    text-decoration: line-through;
    color: #333;
}
.item-text li:nth-child(4) {
    font-weight: bold;
    font-size: large;
}
.product-item img{width:100%; transition: all 0.3s ease;}
h1{ letter-spacing: 30px;}


.find { padding:30px; color: #333;}
.find a:hover {font-weight: bold;}
.search {background-color: whitesmoke;}

.end{ background-color: #ec6466;}
.end  ul {display: flex;
    justify-content:space-between;
    align-items:center;}
    .end  ul li {list-style: none; 
   }
 
   .end .sp a{top:0px; color:#333; margin-left: 0px; margin-block: 5px;}
    .end .sp a:hover { text-decoration: underline;color: #000000; }

